body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fonts {
  font-family: "Roboto";
}

.App {
  margin: 0 10%;
}

* {
  margin: 0;
  padding: 0;
}
.navbar {
  margin-bottom: 10px;
}

li {
  display: inline-block;
  width: 100%;
  height: 200px;
  background-size: cover;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.44);
}

#block {
  width: 100%;
  /* height: 700px;
   */
}

#list {
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  height: 100%;

  overflow: auto;
}
